/* Index page CSS */

p {
  color: #375d81;
  /*color: #4bb5c1;*/
}

.index {
  color: #375d81;
  /*color: #4bb5c1;*/
}
h1 {
  color: black;
}

.submit {
  color: #375d81;
  font-size: 20px;
  border-radius: 10px;
}

/* Feed page CSS */

#feed_header {
  background-color: #7C0202;
  background-image: url("http://www.perceptivetravel.com/issues/0313/photos/moonshine-cabin-500.jpg");
  height: 100%;
}

#header {
  /*background-color: #7C0202;*/
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: ;
  padding: 5px;
  width: 97%;
  height: 100%;
}


input {
  color: black;
}

#feed {
    line-height:30px;
    /*background-color:#eeeeee;*/
    height:300px;
    width:62%;
    float:left;
    padding:5px;
    text-align: center;
    padding-left: 35px;
    /*background-image: url("http://www.turnlabels.net/media/files/manageimage/original/20130305205957.jpg");*/
}

#feed img {
  opacity: 0.4;
}

.textarea {
  margin:20px;
  height: 250px;
  width: 370px;
}

.holer {
  float: right;
  margin-right: 50px;
}

#holler_table td {
  /*border-bottom: 1px solid #d0d0d0;*/
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  padding: 5px;
}

#nav {
  background-color: #DD5151;
  float: left;
  width: auto;
  border: 1px solid #d0d0d0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px;
  padding-right: 30px;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    width: 97%;
}

.holler_content {
  border: 1px solid #d0d0d0;
  list-style-type: none;
  border: 1px solid #d0d0d0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.handle {
  display: inline-block;
  float: left;
}

.time, .reholler {
  display: inline-block;
  float: right;
  padding-right: 10px;
}

.reholler {
  border: 1px solid black;
  color: white;
  background: black;
  padding: 2px;
  border-radius: 10px;
  cursor: pointer;
}
