<div id="header">
<h1>Holler Back, Young'n!</h1>
</div>

<div id="nav">
USER_NAME<br>
TWEET COUNT<br>
FOLLOWER/FOLLOWING<br>
</div>

<div id="feed">
<h1>Hollers From Your Herd and Kin!</h1>

</div>

<div id="footer">
Copyright © Aunt Sharlene's Squirrel Bucket, LLC.
</div>
