<div id="header">
<h1>Welcome <%=@user.full_name%> </h1>
</div>

<div id="nav">
<%=@user.full_name%><br>
<%=@user.user_handle%><br>
<%=@user.hollers.count%><br>
FOLLOWER/FOLLOWING counts <br>
</div>

<div id="feed">
<h1>Hollers From Your Herd and Kin!</h1>

</div>

<div id="footer">
Copyright © Aunt Sharlene's Squirrel Bucket, LLC.
</div>
