<div id="header">
<h1>Holler Back, Young'n!</h1>
<p><a href='/log_out'>Log Out</a></p>
</div>

<div id="nav"><p>
<%=@user.name%><br/>
<%=@user.user_handle%><br>
<%=@user.tweets.count%>TWEET COUNT<br>
FOLLOWING COUNT<br>
FOLLOWERS COUNT<br>
</div>

<div id="feed">
<h1>Hollers From Your Herd and Kin!</h1>

</div>

<div id="footer">
Copyright © Aunt Sharlene's Squirrel Bucket, LLC.
</div>
