<div id="header">
  <h1>Holler Back, Young'n</h1>
  <form action="/signin" method="post">
    <input type="text" name="user[user_handle]" placeholder="User Handle">
    <input type="password" name="user[password]" placeholder="Password">
    <input type="submit" value="Submit"/>
  </form>

  <p>New User? Register here...</p>
  <form action="/signup" method="post">
    <input type="text" name="user[user_handle]" placeholder="Enter user handle">
    <input type="text" name= "user[full_name]" placeholder="Full name">
    <input type="text" name="user[email]" placeholder="Email">
    <input type="password" name="user[password]" placeholder="Password">
    <input type="submit" value="Create Account"/>

  </form>
</div>
